/* @juniordelonge */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    overflow: hidden;
}

.container {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 112px;
    padding-top: 72px;
}

.left,
.right,
form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.left {
    width: 250px;
    align-items: flex-start;
}

.left img {
    height: 106px;
    margin: -28px;
    margin-bottom: -13px;
}

.left p {
    color: #1c1e21;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.right {
    width: 100%;
    max-width: 400px;
}

form {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow:
        0 2px 4px rgb(0 0 0 / 10%),
        0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 80px 10px 10px;
    padding: 20px 0 28px;
    width: 396px;
}

form input {
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #dadde1;
    outline: none;
    font-size: 16px;
    color: #000;
    caret-color: #1069ee;
    transition: color 0.3s;
}

form input::placeholder {
    color: #918e8e;
}

.form-input-focused::placeholder {
    color: #d1d1d1;
}

form input:focus {
    border: 1px solid #1877f2;
    box-shadow: 0 0 3px rgba(24, 119, 242, 0.5);
}

.loginBtn {
    background-color: #1877f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
    width: 90%;
}

.loginBtn:hover {
    background-color: #1574f1;
}

.forget {
    margin: 15px 0;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}
.forget:hover {
    text-decoration: underline;
}

.sign-up {
    padding-top: 14px;
    border-top: 1px solid #dadde1;
    width: 90%;
    display: flex;
    justify-content: center;
}

.signupBtn {
    background-color: #42b72a;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: 0.5s;
}

.signupBtn:hover {
    background-color: #3aa325;
}

.right p {
    border-top: none;
    color: #1c211c;
    font-size: 14px;
    font-weight: normal;
    padding-top: 15px;
    text-align: center;
}

.right p a {
    color: #1c211c;
    text-decoration: none;
    font-weight: bold;
}

.right p a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
        min-height: 65vh;
        width: 100%;
    }

    .left {
        align-items: center;
    }

    .left p {
        display: none;
    }

    .left img {
        height: 100px;
        margin: 15px;
        margin-bottom: -10px;
    }

    .right {
        width: 80%;
        max-width: 100%;
    }

    form {
        margin: 20px;
        width: 100%;
    }
}
/* @juniordelonge */
